.body-container.mapPage {
    gap: 1.5rem;
    /* padding-top: 120px; */
    padding: 0;
    height: fit-content;
    background-color: var(--picton-blue-100);
}

.map-container {
    flex: 1;
    /* width: 100%; */
    background-color: pink;
    /* border-radius: 24px; */
    overflow: hidden;
    position: relative;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}


.filter-container {
    /* flex: 3; */
    background-color: var(--picton-blue-50);
    border-radius: 1rem;
    height: 100vh;
    position: absolute;
    padding: 1.5rem;
    gap: 1rem;
    z-index: 11;
    left: 0;
    top: 0;
    width: min(100vw, 440px);
    overflow: auto;
    transform: translateX(0);
    transition: transform 0.25s ease-in-out;
}

.filter-container.close {
    transform: translateX(-120%);
}

.toggle-filter-open {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-top: 1.5rem;
    top: 0;
    height: 100px;
    left: 1.5rem;
    position: absolute;
    z-index: 10;
}

.filter-header {
    height: 50px;
}

.toggle-filter {
    position: relative;
}

.toggle-filter::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--picton-blue-300);
    opacity: 0;
    border-radius: 50%;
    transform: scale(1.6);
    transition: all 0.25s ease-in-out;
}

.toggle-filter:hover::before {
    opacity: 0.2;
}

.map-page-search-bar {
    padding: 1rem;
    flex: 1;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: 500;
    outline: 2px solid var(--picton-blue-300);
}

.map-page-search-bar:focus {
    outline: 4px solid var(--picton-blue-300);
}

.map-page-search-button {
    min-height: 56px;
    min-width: 56px;
    background-color: var(--picton-blue-300);
    border-radius: 12px;
    cursor: pointer;

}

.segmented-container {
    height: fit-content;
    width: fit-content;
    overflow: hidden;
    user-select: none;
    text-wrap: nowrap;
    flex-wrap: wrap;
}

.segmented-item {
    border: 1px solid var(--picton-blue-300);
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    padding-right: 16px;
}

.segmented-item:hover {
    background-color: var(--picton-blue-200);
    cursor: pointer;
}

.segmented-item.active {
    background-color: var(--picton-blue-300);
    font-weight: 500;
    font-variation-settings: 'FILL' 1;
}

.map-wrappera {
    height: 100vh;
    overflow: hidden;

}

@media screen and (max-width: 900px) {
    .filter-container {
        position: absolute;
        box-shadow: var(--shadow-md);
        border-radius: 0 1rem 1rem 0;
    }

    .filter-container {
        position: fixed;
        height: 100vh;
    }
}

@media screen and (max-width:344px) {
    .map-page-search-button {
        flex-grow: 1;
    }

}

.mapboxgl-touch-zoom-rotate>div {
    cursor: pointer;
}

.mapboxgl-touch-zoom-rotate>div:hover {
    cursor: pointer;
}

.mapboxgl-marker.mapboxgl-marker-anchor-center {
    z-index: 0 !important;
}

.mapboxgl-marker.mapboxgl-marker-anchor-center img {
    transition: transform 0.2s ease-in-out;

    &:hover {
        cursor: pointer;
        transform: scale(1.2);
    }
}

.user-loc.visible {
    position: relative;
}

.user-loc.visible .custom-popup {
    display: block;
    opacity: 1;
    visibility: visible;
    background-color: white;
    position: absolute;
    border-radius: 0.5rem;
    box-shadow: var(--shadow-dark-elevation-medium);
    padding: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -140%);
    font-size: 1rem;
    font-family: Manrope;
    font-weight: 500;
    z-index: 20 !important;
}

.user-loc .custom-popup {
    display: none;
    opacity: 0;
    visibility: hidden;
}

.mapboxgl-popup-tip {
    display: none;

}

.mapboxgl-popup.mapboxgl-popup-anchor-bottom {

}

.mapboxgl-popup-content {
    margin-bottom: 1.5rem !important;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.25px;
    font-family: Manrope;
    padding: 1rem 1.25rem !important;
    border-radius: 0.5rem !important;
    box-shadow: var(--shadow-dark-elevation-medium) !important;
}
